@import '/src/theme/variables.scss';

.ant-btn {
  border-radius: 8px;
  font-size: 18px;
  height: 40px;
  padding: 0px 25px;
  transition: all 0.5s ease-in-out;
  background-color: $primary-color;
  color: #fff;

  &:hover {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.ant-btn-primary {
  border-radius: 8px;
  font-size: 18px;
  height: 40px;
  padding: 0px 25px;
  transition: all 0.5s ease-in-out;
  background-color: #48484a;
  border: 1px solid #48484a;

  &:hover {
    background-color: transparent;
    color: #48484a;
    border: 1px solid #48484a;
  }
}

.ant-btn:disabled {
  background-color: #f6f6f6;
  color: #b4b4b4;
}

.ant-input-affix-wrapper {
  border-radius: 16px;
  height: 36px;
}

.ant-input {
  border-radius: 16px !important;
  height: 36px;
}

.ant-form-item-explain-error {
  font-size: 15px;
  text-align: center;
}

.ant-form-item-with-help .ant-form-item-explain {
  left: 42%;
  position: absolute;
  bottom: -60%;
}

input.ant-input {
  font-size: 16px;
  height: 100%;
  text-align: center  ;
}

.ant-input-affix-wrapper { 
  padding: 0;
}
